body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
html ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
html ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 0;
}
html ::-webkit-scrollbar {
    border-radius: 0;
    height: 8px;
    width: 8px;
}
.login-btn {
    margin-top: 30px;
    & > div {
        display: flex;
        justify-content: center;
    }
    button {
        min-width: 320px;
        background-color: #fff !important;
        border: 2px solid #dce0e3 !important;
        border-radius: 44px !important;
        color: #35414c;
        font-size: 14px !important;
        font-weight: 600;
        line-height: 20px;
        outline: 0;
        text-align: center;
        overflow: hidden;
        box-shadow: none !important;
        span {
            font-size: 14px !important;
            font-weight: 600 !important;
            line-height: 20px;
            padding: 6px 0 !important;
            outline: 0;
            text-align: center;
        }
        div {
            padding-bottom: 6px !important;
            padding-top: 6px !important;
        }
    }
    button:hover {
        color: #35414c;
        opacity: 0.65;
    }
    div + div {
        margin-top: 20px;
    }
    button.google {
        height: 44px;
        justify-content: center;
        span {
            font-size: 14px !important;
            font-weight: 600 !important;
            line-height: 20px;
            padding: 6px 0 !important;
            outline: 0;
            text-align: center;
            color: #35414c;
            font-family: -apple-system, BlinkMacSystemFont;
        }
    }
}
.ant-layout-sider-trigger {
    background-color: #f2ce5f;
}
.ant-btn-primary {
    border-color: #f2ce5f;
    background: #f2ce5f;
}
