// Here you can add other styles
html {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif !important;
}
.login-btn {
    margin-top: 30px;
    & > div {
        display: flex;
        justify-content: center;
    }
    button {
        min-width: 320px;
        background-color: #fff !important;
        border: 2px solid #dce0e3 !important;
        border-radius: 44px !important;
        color: #35414c;
        font-size: 14px !important;
        font-weight: 600;
        line-height: 20px;
        outline: 0;
        text-align: center;
        overflow: hidden;
        box-shadow: none !important;
        span {
            font-size: 14px !important;
            font-weight: 600 !important;
            line-height: 20px;
            padding: 6px 0 !important;
            outline: 0;
            text-align: center;
        }
        div {
            padding-bottom: 6px !important;
            padding-top: 6px !important;
        }
    }
    div + div {
        margin-top: 20px;
    }
}
.loading {
    text-align: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    padding-top: calc(100vh / 2);
    background-color: rgba(196, 196, 196, 0.5);
    z-index: 100001;
}

html ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
html ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 0;
}
html ::-webkit-scrollbar {
    border-radius: 0;
    height: 8px;
    width: 8px;
}
.ck-editor__editable {
    height: 250px;
}
.sidebar-brand {
    background-color: orange !important;
}
.btn-modal {
    color: white !important;
}
.player-doc {
    padding-top: 56.25%;
    position: relative;
    .player {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        img {
            border-radius: 10px !important;
        }
    }
}
